{% extends "base.html" %}

{% block content %}

{% load static %}

<div class='quemsou'>
<div id="apresentacao">
    Seja bem-vindo! Meu nome é Fábio Virgílio, moro em Brasília-DF e atuo como analista de dados há 6 anos, sendo minha
    especialidade o desenvolvimento de soluções de ETL (Extract-Transform-Load). Além disso, trabalhei
    com Governança de TI por 3 anos, totalizando 9 anos na área de TI. Minhas principais habilidades incluem SQL, Python,
    Django e Pentaho Data Integration.
</div>
</div>

{% endblock %}